@model Cholo_Sikhi.Models.userinfo

@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  


    <link rel="stylesheet" href="~/Content/css/homee.css">

    <title>Website Menu #8</title>
</head>
<body>


    <div class="home">
        <div class="home-container">
            <p>@Session["Useremail"]</p>
                <div class="box-1">
                    <h1>We believe in feeding minds, not mindless feeds.</h1>
                    <p>Get unlimited access to 17,000+ of top courses for your team. Learn and improve skills across business, tech, design, and more.</p>
                </div>
                <div class="box-2">
                    <p><img src="~/Content/images/pics/7dbb5bb0a0d340a4137a2116ee90dcba.jpg" alt="Image"></p>
                </div>
            </div>
    </div>

    <div class="services-main">
        <div class="services">
            <h2>Why Cholo Sikhi works</h2>
            <div class="services-container">
                <div class="service-box">
                    <img src="~/Content/images/pics/personalized_learning_icon.png" alt="Image">
                    <h3>Personalized learning</h3>
                    <p>Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
                </div>
                <div class="service-box">
                    <img src="~/Content/images/pics/trusted_content_icon.png" alt="Image">
                    <h3>Trusted content</h3>
                    <p>Created by experts, Cholo Sikhi’s library of trusted practice and lessons covers math, science, and more. Always free for learners and teachers.                    .</p>
                </div>
                <div class="service-box">
                    <img src="~/Content/images/pics/empower_teachers_icon.png" alt="Image">
                    <h3>Tools to empower teachers</h3>
                    <p>
                        With Cholo Sikhi, teachers can identify gaps in their students’ understanding, tailor instruction, and meet the needs of every student.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="success-story">

        <div class="success-heading">
            <p id="successp">SUCESS STORIES</p>
            <h3>What’s my clients say</h3>
        </div>
        <div class="success-story-container">
            <div class="success-image-box">
                <img src="~/Content/images/pics/smiling-girl-on-a-famous-street-GFLMX4Z.jpg" alt="">
            </div>
            <div class="success-line-box">
                <p>
                    People who build their own home tend to be very courageous. These people are curious about life. They're thinking about what it means to live in a house, rather than just buying a commodity.
                    JESSICA SMITH - AMAZON CO.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
